/* Основной цвет текста #757575 */
/* Вторичный цвет текста  #212121 */
/* Акцент #2196F3 */

/* Основной цвет фона #FFFFFF */
/* Акцентный цвет фона  #2F303A */

:root{
	--primary-text-color: #757575;
	--secondary-text-color: #FFFFFF;
	--title-text-color: #212121;
	--accent-text-color: #2196F3;
	--logo-text-color:#000000;
	--primary-bg-color: #FFFFFF;
	--header-footer-bg-color: #2F303A;
	--team-bg-color:#F5F4FA;
	--header-bot-border: #ECECEC;
	--portfolio-cards: #EEEEEE;
	--icon-color: #AFB1B8;
}

/* Common styles */
body{
  	color: var(--primary-text-color);
	background-color: var(--primary-bg-color); 
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;

}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

img{
	display: block;
}

address{
	font-style: normal;
}

.list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Button */
.button{
	background-color: var(--accent-text-color);
	color: var(--secondary-text-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;	
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 32px;
	padding-left: 32px;
	border: none;
	border-radius: 6px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.order{
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.order:hover,
.button.order:focus{
	transform: scale(105%, 105%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus{
	cursor: pointer;
	background-color: var(--accent-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.primary{
	color: var(--secondary-text-color);
	background-color: var(--accent-text-color);
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: inherit;
}

button.secondary{
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: inherit;
	color: var(--title-text-color);
}


.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	/* background-color: #fff; */
	border-bottom: 1px solid var(--header-bot-border);
	background-color: var(--primary-bg-color);
}

.header > .container{
	display: flex;
	align-items: center;
	margin-right: auto;
	min-height: 80px;
}

.site-nav.list{
	display: flex;
	align-items: center;
}

.list.header-contacts{
	display: flex;
	align-items: center;
	margin-left: auto;
}

.list-item{
	margin-right: 50px;
	
}

.list-item:last-child {
	margin-right: 0;
}

.logo {
	color: var(--logo-text-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	margin-right: 93px;
}

.logo-web {
	color: var(--accent-text-color);
}

.header .logo-studio:hover,
.header .logo-studio:focus{
	color: var(--title-text-color);
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header a,
.portfolio-page, 
.footer-address,
.footer-link
 {
	color: var(--title-text-color);
	text-decoration: none;
}

.header .header-logo:hover,
.header .header-logo:focus {
	cursor: pointer;
}

.header .link:hover
.list a:hover 
{
	color: var(--accent-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover,
.navigation .link:focus{
	color: var(--accent-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Site nav */
.site-nav .link{	
	color: var(--title-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}

.nav-item{
	position: relative;
	margin-right: 50px;
}

.nav-item:last-child{
	margin-right: 0;
}

.site-nav .link.current {
	color: var(--accent-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav .link.current-studio::after {
	content: '';
	display: block;

	position: absolute;
	width: 48px;
	height: 4px;
	bottom: 0;

	background: #2196F3;
	border-radius: 2px;
}

.site-nav .link.current-portfolio::after{
	content: '';
	display: block;

	position: absolute;
	bottom: 0;
	width: 78px;
	height: 4px;

	background-color: #2196F3;
	border-radius: 2px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover,
.projects .link:focus{
	color: var(--secondary-text-color);
	background-color: var(--accent-text-color);
	cursor: pointer;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.list a{
	align-items: center;
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}



/* ==============Робота з іконкою */


.contact-link{
	display: flex;
	align-items: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header{
	display: inline-block;
	margin-right: 10px;
}

.icon-header{
	fill: currentColor;
} 

.contact-link:hover,
.contact-link:focus{
	color: var(--accent-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link{
	padding-bottom: 32px;
	padding-top: 32px;
}


/* Hero */
.hero{
	color: var(--secondary-text-color);

	background-color: var(--header-footer-bg-color);
	background-image: 
	linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	url('../images/backgrounds/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	min-width: 1600px;
	height: 600px;
}

.hero-title{
	color: var(--secondary-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Features */
.features-picture{
	display: flex;
	align-items: center;
	justify-content:center;
	width: 270px;
	height: 120px;

	background: #F5F4FA;
	border-radius: 4px;
	margin-bottom: 30px;
}

.feature-icon{
	fill: var(--title-text-color);
}

.features-container{
	display: flex;
	align-items: center;
}

.features-item{
	margin-right: 30px;
}

.features-item:last-child {
	margin-right: 0;
}

.features.section-title{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);

	margin-bottom: 10px;
}

.features-description{
	font-size: 14px;
	line-height: 1.71;

	width: 270px;
}

/* What we do */
.what-we-do{
	padding-top: 0;;
}

.do-title{
	text-align: center;
	margin-bottom: 50px;
}

.do-list,
.members{
	display: flex;
	align-items: center;
}

.do-item{
	position: relative;
	margin-right: 30px;
}

.do-item:last-child {
	margin-right: 0;
}

.do-backdrop{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;

	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(47, 48, 58, 0.8);
}

.do-backdrop p{
	width: 205px;
	height: 16px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--secondary-text-color);
}


/* Team */
.section.team{
	background-color: var(--team-bg-color);
}

.team .section-title,
.clients .section-title{
	text-align: center;
	margin-bottom: 50px;
}

.member-description{
	background-color: var(--primary-bg-color);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.member-name{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
	margin-bottom: 10px;
}

.member-position{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 28px;
}

.team-member{
	margin-right: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-member:last-child {
	margin-right: 0;
}

.list.slinks{
	display: flex;
	justify-content: center;
}

.slinks-item{
	margin-right: 10px;
}

.slinks-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--icon-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slinks-item:last-child {
	margin-right: 0;
}

.slinks-link:hover,
.slinks-link:focus{
	background-color: var(--accent-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-icon{
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slinks-link:hover .member-icon,
.slinks-link:focus .member-icon{
	fill: var(--secondary-text-color) ;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slinks-link{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Clients */

.clients .section-title {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

}

.clients-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.client:not(:last-child) {
	margin-right: 30px;
}

.client-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	
	border: 1px solid var(--icon-color);
	border-radius: 4px;

	color: var(--icon-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus{
	border: 1px solid var(--accent-text-color);
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon{
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
	fill:var(--accent-text-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Portfolio */
/* ======= Animation ========= */

.portfolio-thumb{
	position: relative;
	overflow: hidden;
}

.portfolio-overlay{
	position: absolute;
	width: 100%;
	height: 294px;
	

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(33, 150, 243, 0.9);

	transform: translateY(0%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page:hover .portfolio-overlay,
.portfolio-page:focus .portfolio-overlay{
	transform: translateY(-100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.description-overlay{
	width: 322px;
	height: 168px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: var(--primary-bg-color);
}


.portfolio-section{
	padding-top: 94px;
}

.portfolio-name{
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}

.portfolio-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.portfolio .link{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;
	border: none;
	border-radius: 6px;
}

.projects button:hover,
.projects button:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects.list{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.project-item{
	margin-right: 8px;
}

.project-item:last-child{
	margin-right: 0;
}

.projects-cards{
	display: flex;
	flex-wrap: wrap;
}

.card-item{
	margin-right: 30px;
	margin-bottom: 30px;
}

.card-item:nth-child(3n){
	margin-right: 0;
}

.card-item:nth-last-child(-n+3){
	margin-bottom: 0;
}

.portfolio{
	padding-bottom: 94px;
}

.card-description{
	border-bottom: 1px solid var(--portfolio-cards);
	border-right: 1px solid var(--portfolio-cards);
	border-left: 1px solid var(--portfolio-cards);
	padding: 20px 24px;
}

.portfolio-page{
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page:hover,
.portfolio-page:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title{
	margin-bottom: 4px;
}


/* Footer */
.footer{
	background-color: var(--header-footer-bg-color);
	padding-bottom: 60px;
	padding-top: 60px;
}

.footer-logo{
	color: var(--secondary-text-color);
	text-decoration: none;
}

a.footer-address {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.footer-link{
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list{
	display: block;
}

.footer .footer-logo{
	display: block;
	margin-bottom: 20px;
}

.address-item>.footer-address:hover,
.address-item>.footer-address:focus {
	color: var(--accent-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item > .footer-link:hover,
.address-item > .footer-link:focus{
	color: var(--accent-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:not(:last-child){
	margin-bottom: 9px;
}

.footer-container{
	display: flex;
	align-items: baseline;
}

.add{
	display: flex;
	align-items: center;
}

.add-title{
	display: block;
	width: 145px;
	height: 16px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--secondary-text-color);
}

.footer-add{
	display: flex;
	align-items: center;
}

.footer-container-element{
	margin-right: 30px;
}

.footer-container-element:last-child {
	margin-right: 0;
}

.add.footer-container-element{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.list.footer-add{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.footer-add-element{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #ffffff1a;

	margin-right: 10px;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-link:hover,
.add-link:focus{
	background-color: var(--accent-text-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add-element:last-child{
	margin-right: 0;
}

a.add-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--secondary-text-color);
}

.add-icon{
	display: block;
	fill: currentColor;
}

/* Modal */
.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;

	background: rgba(0, 0, 0, 0.2);
}

.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;

	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

button.button-modal-close{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 8px;
	top: 8px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	color: var(--logo-text-color);
}

.modal-close{
	fill: currentColor;
}




